$brand-color : #ee82eea6;
$font-size-h1 : 40px;
$font-size-h2 : 32px;
$font-size-h3 : 24px;
$font-size-h4 : 20px;
$font-size-h5 : 18px;
$font-size-h6 : 14px;
$textaligncenter : center;
$textalignleft : left;
$textalignright : right;
$dflex : flex;
$dblock : block;
$d-inlineblock : inline-block;
$textupper : uppercase;